<!-- Three -->
<section id="{{ include.section.section_id }}" class="wrapper {{ include.section.background_style }}">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-5 col-12-medium">
                <h2>{{ include.section.title | newline_to_br }}</h2>
                {{ include.section.text | markdownify }}
            </div>
            <div class="col-7 col-12-medium">
                <div class="row gtr-200">
                    {% if include.section.checks_col1 %}
                        <div class="col-6 col-12-xsmall">
                            <ul class="check">
                                {% for item in include.section.checks_col1 %}
                                    <li>{{ item.text }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if include.section.checks_col2 %}
                        <div class="col-6 col-12-xsmall">
                            <ul class="check">
                                {% for item in include.section.checks_col2 %}
                                    <li>{{ item.text }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
