<!-- Header -->
<header id="header"{% if page.layout == 'home' %} class="alt"{% endif %}>
    <h1><a id="logo" href="{{ site.baseurl | relative_url }}">{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl | relative_url }}">Home</a></li>
            {% if site.header.submenu %}
                <li>
                    <a href="#">{{ site.header.submenu.title }}</a>
                    <ul>
                        {% for item in site.header.submenu.items %}
                            <li><a href="{{ item.url | link | relative_url }}">{{ item.title }}</a></li>
                        {% endfor %}
                        <li>
                            <a href="#">Submenu</a>
                            <ul>
                                <li><a href="#">Option 1</a></li>
                                <li><a href="#">Option 2</a></li>
                                <li><a href="#">Option 3</a></li>
                                <li><a href="#">Option 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% for item in site.menus.main %}
                <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
            {% for action in site.header.actions %}
                <li><a href="{{ action.url | link | relative_url }}" class="button{% if action.is_primary %} primary{% endif %}">{{ action.label }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
